<ion-view view-title="Add new counter">
  <ion-content class="padding">

		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="Counter Name" style="font-size: 1em;" ng-model="newCounter.name">
		  </label>

			<ion-checkbox ng-model="newCounter.useDate" ng-change="updateCounter()">use time</ion-checkbox>

		  <label class="item item-input">
		    <input type="date" placeholder="Counter Date" ng-model="newCounter.date">
		  </label>

		  <label class="item item-input" ng-show="useDate">
		    <input type="time" placeholder="Counter Time" ng-model="newCounter.time">
		  </label>		  

		  <label class="item item-input">
		  	<div style="width: 4em; ">
		  		<input type="color" ng-model="newCounter.color" style="padding-right: 1em;">
		  	</div> text color
		  </label>

		</div>

		<button class="button button-full button-positive" ng-click="addCounter()">
			{{newCounter.id == null ? 'Add new counter' : 'Save changes'}}
		</button>
 	</ion-content>
</ion-view>