<style>
  .slider-container {
    background: url({{background}}) no-repeat center center;
    background-size: cover;
  }  
</style>

<ion-view view-title="Main page" cache-view="false">
  <div class="counter-display-container" ng-repeat="counter in counters" ng-show="counter == activeCounter()" on-swipe-left="onSwipe()">
    <div class="counter-display">
      <h1 style="color: {{counter.color}}">{{counter.remainDays}}</h1>
      <h4 style="color: {{counter.color}}">{{counter.name}}</h4>
      <h4>{{counterSwipe}}</h4>
    </div>
  </div>
</ion-view>
